services:
  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    #image: my-python-app
    container_name: my-python-app
    restart: unless-stopped
    
    environment:
      - WHOAMI_URLS=${WHOAMI_URLS}
      - API_TOKEN=${API_TOKEN}
      - CRON_INTERVAL="*/1 * * * *"

    # Remove for production this is only for development!
    volumes:
      - ./src/app:/app

